<div class="page home">
    {{> header }}
    <div class="modes">
        <div id="mode_list" class="mode mode__list col-mobile-4 col-s-tablet-4 col-tablet-4 col-desktop-4 mode__active">List</div>
    </div>

    <div class="wrapper__home col-mobile-12  col-l-mobile-12  col-s-tablet-12 col-tablet-12 col-desktop-12">

        <div id="mode__list--content" class="mode--content mode__list--content col-mobile-12  col-l-mobile-12 col-s-tablet-12 col-tablet-12 col-desktop-12">

            <div class="home__list">
                <div class="section__title">List of available home's</div>
                <div class="filters col-mobile-12 col-l-mobile-12 col-s-tablet-12 col-tablet-12 col-desktop-12">
                    <div class="button button-blue"><a href="#/register" data-navigo> <i class="fas fa-user-plus"></i>
                            Register</a>
                    </div>
                </div>
                {{#each homes}}
                <div class="home__list--item col-mobile-12  col-l-mobile-12 col-s-tablet-6 col-tablet-6 col-desktop-4">
                    <div class="home__list--item--street">{{this.addressName}}</div>
                    <div class="home__list--item--image"><img src="{{this.imageLink}}" alt="{HOME IMAGE}" srcset=""></div>
                    <div class="home__list--item--info--s">
                        <div class="info__s--price">{{this.rentPrice}} EURO</div>
                        <div class="info__s--size">{{this.size}} m²</div>
                    </div>
                    <div class="student__control">
                        <div id="btnViewHome" class="btn__viewhome button button-blue" data-homeKey={{this.homeKey}}><a
                                class="btn__viewhome" data-homeKey={{this.homeKey}} href="#/home_detail/{{this.homeKey}}"
                                data-navigo><i class="fas fa-eye"></i>View
                            </a>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{#if homes}}
                {{else}}
                <div class="no__home">No Home Available. Thank you, comma again [indian accent]</div>
                {{/if}}


                {{!-- <div class="filter__desktop">
                    <div class="filter__part">
                        <div>
                            <h4>Type</h4>
                            <div>
                                <select name="room_type">
                                    <option value="0">Alle</option>
                                    <option value="1">Room</option>
                                    <option value="2">Studio</option>
                                    <option value="3">Appartement</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="filter__part">
                        <h4>Rent Price (€)</h4>
                        <div class="filter__price">
                            <div class="filter__min">
                                <label>Min. rent</label>
                                <input id="price_min" data-min="0" data-max="2500" data-type="price" type="number" name="price_min"
                                    placeholder="0">
                            </div>

                            <div class="filter__max">
                                <label>Max. rent</label>
                                <input class="num-input" id="price_max" data-min="0" data-max="2500" data-type="price"
                                    data-range-side="max" type="text" name="price_max" placeholder="2500">
                            </div>
                        </div>
                    </div>

                    <div class="filter__part">
                        <h4>Size (m2)</h4>
                        <div class="filter__size">
                            <div class="filter__min">
                                <label>Min. Size (m2)</label>
                                <input id="size_min" data-min="0" data-max="250" data-type="size" data-range-side="min"
                                    type="text" name="size_min" placeholder="5">
                            </div>

                            <div class="filter__max">
                                <label>Max. Size (m2)</label>
                                <input id="size_max" data-min="0" data-max="250" data-type="size" data-range-side="max"
                                    type="text" name="size_max" placeholder="200">
                            </div>
                        </div>
                    </div>

                    <div class="filter__part">
                        <h4>Distance (km)</h4>
                        <div class="filter__size">
                            <div class="filter__min">
                                <label>Min. Distance (km)</label>
                                <input id="distance_min" data-min="0" data-max="250" data-type="distance" type="text"
                                    name="distance_min" placeholder="5">
                            </div>

                            <div class="filter__max">
                                <label>Max. Distance (km)</label>
                                <input id="distance_max" data-min="0.2" data-max="30" data-type="distance" type="text"
                                    name="distance_max" placeholder="5">
                            </div>
                        </div>
                    </div> --}}
                </div>
            </div>

        </div>
        {{!-- wrapper__home --}}
    </div>
</div>
</div>