<div class="page home">
    {{> header }}

    <div class="modes">
        {{#if student}}
        <div id="mode_rate" class="mode mode__rate col-mobile-4 col-tablet-4 col-desktop-4 mode__active">Rate</div>
        <div id="mode_map" class="mode mode__map col-mobile-4 col-tablet-4 col-desktop-4">Map</div>
        {{/if}}

        <div id="mode_list" class="mode mode__list col-mobile-4 col-tablet-4 col-desktop-4">List</div>
    </div>

    <div class="wrapper__home">
        {{#if student}}
        <div class="mode--content mode__rate--content">
            <div class="home__content">

                <div class="home__address"></div>
                <div id="home_image" class="home__image">
                    {{!-- <img src='../assets/images/home_banner.jpeg'> --}}
                </div>
                <div class="home__price__distance">
                    <div class="home__price"></div>
                    <div class="home__distance"></div>
                </div>
                <div class="home__rate">
                    <div class="rate rate__dislike">
                        <div class="minus"></div>
                    </div>
                    <div class="rate rate__like">
                        <div class="favorite"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mode--content mode__map--content">
            <div class="filter__map">
                <select name="type" id="select_type">
                    <option value="none">None</option>
                    <option value="room">Room</option>
                    <option value="studio">Studio</option>
                    <option value="appartment">Appartment</option>
                </select>

                <div class="filter__options" id="filter_options">
                    <div class="options">
                        <div id="filter_price">Price: min 350 max 450</div>
                        <div id="filter_size">Size: min 350 max 450</div>
                        <div id="filter_distance">Distance: max 2 KM</div>
                    </div>
                    <div id="btn_filter" class="btn__filter">Filter Options</div>
                </div>

            </div>
            <div class="container__ranges">
                <div id="select_price" class="select">
                    <div>Select Price</div>
                    Max: <input type="range" min="100" max="2000" value="200" class="slider" id="range_price_min">
                    Max: <input type="range" min="100" max="2000" value="600" class="slider" id="range_price_max">
                </div>

                <div id="select_size" class="select">
                    <div>Select Size</div>
                    Min: <input type="range" min="1" max="300" value="10" class="slider" id="range_size_min">
                    Max: <input type="range" min="1" max="300" value="40" class="slider" id="range_size_max">
                </div>

                <div id="select_distance" class="select">
                    <div>Select Max Distance</div>
                    Min: <input type="range" min="1" max="20" value="10" class="slider" id="range_distance_max">
                </div>
            </div>
            <div id="map" class="">

            </div>
        </div>
        {{/if}}

        <div id="mode__list--content" class="mode--content mode__list--content">

            <div class="home__list">
                <div id="home_add" class="home__add">+</div>

                {{#if student}}
                {{#each homes}}
                <div class="home__list--item">
                    <div class="home__list--item--street">{{this.addressCoordinate}}</div>
                    <div class="home__list--item--image">{{this.addressCoordinate}}</div>
                    <div class="home__list--item--info--s">
                        <div class="info__s--price">{{this.rentPrice}} EURO</div>
                        <div class="info__s--size">{{this.size}} m²</div>
                    </div>
                </div>
                <br>
                <hr>
                {{/each}}

                {{else}}
                {{#each homes}}
                <div class="home__list--item">
                    <div class="home__list--item--street">{{this.addressCoordinate}}</div>
                    <div class="home__list--item--image">{{this.addressCoordinate}}</div>
                    <div class="home__list--item--info--s">
                        <div class="info__s--price">{{this.rentPrice}} EURO</div>
                        <div class="info__s--size">{{this.size}} m²</div>
                    </div>
                    <div class="owner__control">
                        <div id="btnEdit" class="btn__edit button button-yellow">Edit</div>
                        <div id="btnDelete" class="btn__delete button button-red">Delete</div>
                    </div>
                </div>
                <br>
                <hr>
                {{/each}}

                {{/if}}
                <a class="button">
                    <i class="fa fa-cloud-download"></i>
                    <strong>Download</strong>
                </a>
                <a class="button button-yellow">
                    <i class="fa fa-clock-o"></i>
                    Waiting for <strong>confirmation</strong>
                </a>
                <a class="button button-orange">
                    <i class="fa fa-exclamation-triangle"></i>
                    Watch <strong>out!</strong>
                </a>
                <a class="button button-red">
                    <i class="fa fa-times"></i>
                    Order <strong>cancelled</strong>
                </a>
                <a class="button button-purple">
                    <i class="fa fa-rocket"></i>
                    Fly me to the <strong>Moon</strong>
                </a>
                <a class="button button-blue">
                    <i class="fa fa-globe"></i>
                    Hello <strong>World</strong>
                </a>
                <a class="button button-green">
                    <i class="fa fa-check"></i>
                    Order <strong>received</strong>
                </a>

                <div class="filter__desktop">

                    <div class="filter__part">
                        <div>
                            <h4>Type</h4>
                            <div>
                                <select name="room_type">
                                    <option value="0">Alle</option>
                                    <option value="1">Room</option>
                                    <option value="2">Studio</option>
                                    <option value="3">Appartement</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="filter__part">
                        <h4>Rent Price (€)</h4>
                        <div class="filter__price">
                            <div class="filter__min">
                                <label>Min. rent</label>
                                <input id="price_min" data-min="0" data-max="2500" data-type="price" type="number" name="price_min"
                                    placeholder="0">
                            </div>

                            <div class="filter__max">
                                <label>Max. rent</label>
                                <input class="num-input" id="price_max" data-min="0" data-max="2500" data-type="price"
                                    data-range-side="max" type="text" name="price_max" placeholder="2500">
                            </div>
                        </div>
                    </div>

                    <div class="filter__part">
                        <h4>Size (m2)</h4>
                        <div class="filter__size">
                            <div class="filter__min">
                                <label>Min. Size (m2)</label>
                                <input id="size_min" data-min="0" data-max="250" data-type="size" data-range-side="min"
                                    type="text" name="size_min" placeholder="5">
                            </div>

                            <div class="filter__max">
                                <label>Max. Size (m2)</label>
                                <input id="size_max" data-min="0" data-max="250" data-type="size" data-range-side="max"
                                    type="text" name="size_max" placeholder="200">
                            </div>
                        </div>
                    </div>

                    <div class="filter__part">
                        <h4>Distance (km)</h4>
                        <div class="filter__size">
                            <div class="filter__min">
                                <label>Min. Distance (km)</label>
                                <input id="distance_min" data-min="0" data-max="250" data-type="distance" type="text"
                                    name="distance_min" placeholder="5">
                            </div>

                            <div class="filter__max">
                                <label>Max. Distance (km)</label>
                                <input id="distance_max" data-min="0.2" data-max="30" data-type="distance" type="text"
                                    name="distance_max" placeholder="5">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <div id="form_home" class="form__home">
            <div id="btnCloseFormHome" class="form__home--close">X</div>
            <p class="text__title--bold--blue">Upload a new Home</p>
            <div class="container__info">
                <div class="inputs">
                    <input type="text" id="home_address" placeholder="Address" value="Gentsstraat 12" />
                    <input type="number" id="home_price" placeholder="Price" value="500" />
                    <input type="text" id="home_insurance_price" placeholder="Insurance Price" value="1000" />
                    <input type="text" id="home_description" placeholder="Description" value="some random text" />
                    <input type="number" id="home_floor" placeholder="Floor" value="2" />
                    <input type="number" id="home_max_tenant" placeholder="Max tenant" value="1" />
                    <input type="text" id="home_furnitured" placeholder="Furnitured: Yes or No" value="Yes" />
                    <input type="text" id="home_image_link" placeholder="Image Link" value="www.imagelink.com" />
                    <input type="number" id="home_total_rooms" placeholder="Total rooms" value="5" />
                    <input type="number" id="home_size" placeholder="Size in: m²" value="10" />

                </div>
                <div class="form__home--select">
                    <div class="select">
                        <p>Toilet</p>
                        <select name="" id="home_toilet">
                            <option value="Private">Private</option>
                            <option value="Shared">Shared</option>
                            <option value="Nothing">Not Available</option>
                        </select>
                    </div>
                    <div class="select">
                        <p>Shower</p>
                        <select name="" id="home_shower">
                            <option value="Private">Private</option>
                            <option value="Shared">Shared</option>
                            <option value="Nothing">Not Available</option>
                        </select>
                    </div>
                    <div class="select">
                        <p>Bath</p>
                        <select name="" id="home_bath">
                            <option value="Private">Private</option>
                            <option value="Shared">Shared</option>
                            <option value="Nothing">Not Available</option>
                        </select>
                    </div>

                    <div class="select">
                        <p>Kitchen</p>
                        <select name="" id="home_kitchen">
                            <option value="Private">Private</option>
                            <option value="Shared">Shared</option>
                            <option value="Nothing">Not Available</option>
                        </select>
                    </div>
                    <div class="select">
                        <p>Type</p>
                        <select name="" id="home_type">
                            <option value="Room">Room</option>
                            <option value="Studio">Studio</option>
                            <option value="Apartment">Apartment</option>
                        </select>
                    </div>
                </div>
                <div id="btnPublishHome" class="form__publish__home--btn">
                    Publish Home
                </div>
            </div>

        </div>



    </div>



</div>